{% extends 'layout2.html'   %}
{% block content %}
        <div class="container">
          {% if user.is_authenticated %}
              <p><div class="alert alert-primary" role="alert">
                 สวัสดีจ้า {{ user.userprofile.nickname }} ยินดีต้อนรับนะ  <a href="#" class="alert-link"></a>.
              </div>
              </p>
              <p>              <div class="alert alert-primary" role="alert">
                 ID ของคุณคือ  {{ request.user.id }}
                <a href="#" class="alert-link"></a>.
              </div></p>
              <p>              <div class="alert alert-primary" role="alert">
                 CPE ของคุณคือ CPE {{ user.userprofile.cpenumber }}
                <a href="#" class="alert-link"></a>.
              </div></p>
              <div class="alert alert-warning" role="alert">
              ดู คำสั่งที่ / ชื่อเล่น  ดีๆก่อนลบนะ ไม่มียืนยันรอบ 2 นะ ฮาๆ
            </div>
                <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" align="center">คำสั่งที่</th>
              <th scope="col" align="center">ส่งคำขอให้ ID </th>
                <th scope="col" align="center">ชื่อ</th>
              <th scope="col" align="center">สถานะ</th>
                <th scope="col" align="center">อื่นๆ</th>

            </tr>
          </thead>
          <tbody>



              {% for item in oders %}
                        <tr>
                          <th scope="row">{{ item.id }}</th>
                          <td>{{ item.idcpeto}}</td>

                        <td>
                         {% for tests in test %}
                              {% if tests.user_id == item.idcpeto %}
                                 <p> {{ tests.nickname }} </p>
                                 {% endif %}
                             {% endfor %}

                        </td>

                          <td>{% if item.status == True %}
                              <p align="center" ><span class="badge badge-pill badge-success">ได้ลายเซ็นแล้ว</span></p>
                              {% else %}
                              <p align="center"><span class="badge badge-pill badge-danger">ยังไม่ได้ลายเซ็น</span></p>
                          {% endif %}
                          </td>


            <td>
                {% if item.status == False %}
                    <a href = "{% url 'removeoder' item.id %}"button type="button" class="btn btn-primary">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        ลบ
                        </abutton>
                    </a>
                    {%endif %}
            </td>

                        </tr>
                    {% endfor %}
          </tbody>
        </table>
     <nav aria-label="Page navigation example">
      {% if oders.paginator.num_pages > 1 %}
      <ul class="pagination">
      {% for pagenumber in oders.paginator.page_range %}

          <li class="page-item
          {% if oders.number == pagenumber %}
                active

          {% endif %}

            "><a class="page-link" href="?page={{ pagenumber }}">{{ pagenumber }}</a></li>
            {% endfor %}
      </ul>


          {% endif %}
    </nav>

            {% else %}
        <h2>กรุณา login ก่อนครับ </h2>

        {% endif %}

    </div>


{% endblock %}