{% extends 'layout.html'   %}
{% block content  %}


    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CPE BOOK</title>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
<!--
        <div class="col-md-12">
              <div align="center" class="">
                    Free Template by devbanban.com
                    <p>โมดิฟายจาก bootstrap </p>
                    <p class="lead">
                      <a class="btn btn-info" href="http://devbanban.com/"> Click
                      </a>
                    </p>
              </div>
          </div>
-->

<!--start slide -->

<div id="cp_widget_5736eff7-afad-47b3-aea1-86dfa9a7da81">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_5736eff7-afad-47b3-aea1-86dfa9a7da81"; cpo["_fid"] = "A4BAloej6T4q";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script>


<!--start articles-->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12"><h4 align="center"> <div class="alert alert-primary" role="alert">
  ประกาศ !!
</div> </h4></div>
    <div class="col-md-4 col-xs-8">
    </div>
      <div class="col-md-8 col-xs-10">
          <h8>1. login ครั้งแรก กดที่เมนู loginครั้งแรก ด้านบนด้วยนะ <span class="badge badge-secondary">New</span></h8><br>
          <h8>2. ลืมรหัสผ่าน หรือ เข้าสู่ระบบไม่ได้ ติดต่อ เก๊า อั๋น ด้า จิ ปี 2 นะ <span class="badge badge-secondary">New</span></h8><br>

          <hr>
    </div>
  </div>
<!--end articles-->


<!--start footer-->
<p align="center"> ลิขสิทธิ์ โดย มหาวิทยาลัยเกษตรศษสตร์ คณะ วิศวกรรมศาสตร์ สาชา วิศวกรรมคอมพิวเตอร์  ศรีราชา ไม่อนุญาติ ให้ แก้ไข ทำซ้ำ ดัดแปลง   </p>
    <p align="center"> ทำการแก้ไข ครั้งที่ 1.0.0.79 </p>
<!--end footer-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>


    </div>
{% endblock %}
