{% extends 'layout.html'%}
{% block content %}
    <div class="container">
    <h2 align="center">เข้าสู่ระบบครั้งแรก</h2>
    <form action="findstd" method="post">
        {% csrf_token %}
    <div class="form-group">
   <label for ="" > กรุณากรอกรหัสนิสิต  </label>
   <input type="text" class="form-control" name="std">
    <input type="submit" value="ยืนยัน" class="btn btn-primary">
    </div>
    </form>
        <p>***หมายเหตุ***พี่ปีสูง กรอกตามที่แจ้งไว้ใน กลุ่มสายรหัส62/ไลน์กลุ่ม</p>



{% endblock %}